<footer class="flex flex-col items-center md:flex-row justify-evenly">
  <div class="flex flex-col flex-wrap py-2">
    <h3 class="font-bold">Greyshore Associates</h3>
    <p>Charlotte, NC 28277</p>
    <p>11327 Stonebriar Drive</p>
    <ul class="list-none flex flex-row justify-evenly">
      <li>
        <a class="text-gray-800 hover:text-purple-600 no-underline" href="{{ item.url }}" target="_blank" rel="_noopener">{{ item.title }}</a>
      </li>
    {% endfor %}
    {% for item in site.social %}
    </ul>
  </div>
  <h3 class="font-bold">
    <button class="px-8 py-2 hover:font-bold transform motion-safe:hover:scale-110" href="#register">Contact Us</button>
  </h3>
  <h3 class="font-bold">
    <button class="px-8 py-2 hover:font-bold transform motion-safe:hover:scale-110" href="#about">About Us</button>
  </h3>
  <h3>
    <button class="px-8 py-2 hover:font-bold transform motion-safe:hover:scale-110" href="#edde">Our Product</button>
  </h3>

</footer>

<!-- "Follow" Tooltip template -->
<template id="followTip">
  <a href="{{ item.url }}"
      class="inline-block text-gray-200 text-sm bg-purple-600 shadow-md hover:bg-gray-200 hover:text-gray-800 no-underline p-1 px-4 mx-2 my-1"
      target="_blank" rel="noopener">{{ item.title }}</a>
{% endfor %}
{% for item in site.social %}
</template>

<div class="">
  <a id="btt"
    class="hidden fixed bottom-0 right-0 mb-4 mr-4 text-purple-600 border rounded-md border-purple-600 hover:bg-gray-200 hover:text-purple-600 hover:border-browngray no-underline px-6 py-1 bg-purple-600 shadow-md"
    href="#top" title="Back to Top">UP</a>
</div>