<footer>
<div class="flex flex-col justify-evenly md:flex-row md:items-start text-center md:text-left">
  {# Column 1 #}
  <div class="flex flex-col flex-wrap px-8 py-2">
    <h3 class="font-semibold text-lg pb-2">Greyshore Associates</h3>
    <p class="text-lg font-light leading-10">11327 Stonebriar Drive</p>
    <p class="text-lg font-light pb-4">Charlotte, NC 28277</p>
    <div class="flex justify-between md:justify-start md:px-0 px-10">
      <a href="#" class="m-1 text-gray-400 hover:text-gray-500">
        <span class="sr-only">Twitter</span>
        <img class="social-icon" src="../../img/twitter.svg" alt="twitter link" />
      </a>

      <a href="#" class="m-1 text-gray-400 hover:text-gray-500">
        <span class="sr-only">LinkedIn</span>
        <img class="social-icon" src="../../img/linkedin.svg" alt="linkedin link" />
      </a>

      <a href="#" class="m-1 text-gray-400 hover:text-gray-500">
        <span class="sr-only">Medium</span>
        <img class="social-icon" src="../../img/medium.svg" alt="medium link" />
      </a>
    </div>
  </div>

  {# Column 2 #}
  <div class="md:grid md:grid-cols-2 xl:grid-cols-3 md:gap-8 text-lg">
    <div class="col-start-1 col-end-1 pt-8 md:pt-0">
      <h3 class="font-medium text-lg px-2 py-2">About Greyshore</h3>
      <ul class="font-light">
        <li><a class=" footer-link px-2 py-2 leading-10 focus:border-2 focus:border-white-border thick " href="{{site.url}}">Home</a></li>
        <li> <a class="footer-link px-2 py-2 leading-10 focus:border-2 focus:border-white-border" href="{{site.url}}/#about">About Us</a></li>
      </ul>
    </div>
    <div class="col-start-2 col-end-2">
      <h3 class="font-medium text-lg px-2 py-2 thick ">Our Product</h3>
      <ul class="font-light">
        <li><a class="footer-link px-2 py-2 thick leading-10  focus:border-2 focus:border-white-border" href="{{site.url}}/#edde">EDDE</a></li>
      </ul>
    </div>
    <div class="col-start-3 col-end-3">
      <h3 class="font-medium text-lg px-2 py-2">Contact Us</h3>
      <ul class="font-light">
        <li><a class="footer-link px-2 py-2 thick leading-10 focus:border-2 focus:border-white-border" href="{{site.url}}/#register">Contact Us</a></li>
      </ul>
    </div>
  </div>
  
  {# Column 3 #}
  <div class="hidden xl:block flex flex-col flex-wrap px-8 py-2 ">
    <h3 class="font-medium text-lg">Accessibility Statement</h3>
    <p class="max-w-sm font-light text-lg py-4">Greyshore believes in providing products and services that are accessible to the widest audience possible.This site was created using inclusive design principles, along with A11y considerations, to strive to meet WCAG 2.1 Level AA guidelines. Our credo is continuous improvement together, so if we missed something, please email us at <a class="footer-link text-purple-650 text-medium underline" href="mailto:info@greyshore.com">info@greyshore.com</a>!</p>
  </div>
<div>

</div>
 </div>
 <div class="display xl:hidden flex flex-col flex-wrap px-8 md:px-20 xl:px-8 py-2 pt-8 ">
    <h3 class="font-medium text-lg text-center">Accessibility Statement</h3>
    <p class="xl:max-w-sm font-light text-lg py-4 text-center md:text-justify xl:text-left">Greyshore believes in providing products and services that are accessible to the widest audience possible.This site was created using inclusive design principles, along with A11y considerations, to strive to meet WCAG 2.1 Level AA guidelines. Our credo is continuous improvement together, so if we missed something, please email us at <a class="footer-link text-purple-650 text-medium underline" href="mailto:info@greyshore.com">info@greyshore.com</a>!</p>
  </div>
  <hr class="py-4 mx-20 break-line"/>
  <div class="">
  <p class="font-light text-sm text-center" >&copy; 2021 Greyshore Associates | All Rights Reserved<p>
  <div>
   
</footer>

 <!-- "Follow" Tooltip template -->
<template id="followTip">
  {% for item in site.social %}
    <a href="{{ item.url }}"
      class="inline-block text-gray-200 text-sm bg-purple-600 shadow-md hover:bg-gray-200 hover:text-gray-800 no-underline p-1 px-4 mx-2 my-1"
      target="_blank" rel="noopener">{{ item.title }}</a>
  {% endfor %}
</template>

<div>
  <a id="btt" title="Skip back to top of page"
    class="top-link hidden fixed bottom-0 right-0 mb-4 mr-4 text-purple-600 border rounded-md border-purple-600 bg-white hover:bg-gray-200 hover:text-purple-600 hover:border-browngray underline p-3 bg-purple-600 shadow-md"
    href="#top" title="Back to Top"><span aria-hidden="true">▲ Top</span></a>
</div>