{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="preload" href="/css/page.css" as="style">
<!-- PRELOAD CDN SCRIPTS -->
<link rel="preconnect" href="https://unpkg.com/popper.js@1" as="script">
<link rel="preconnect" href="https://unpkg.com/tippy.js@4" as="script">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
<meta name="robots" content="index,follow">
<!-- BEGIN SOCIAL META DATA -->
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:type" content="{{ site.type }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image:url" content="https://ibb.co/YQVzYnr"/>
<meta property="og:image:secure_url" content="https://ibb.co/YQVzYnr"/>
<meta property="og:image:type" content="image/png" />
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta name="twitter:site" content="{{ site.handle }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">

<!-- ./END SOCIAL META DATA -->

<!-- BEGIN FAVICON DATA -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- ./END FAVICON DATA -->


<meta name="theme-color" content="#ffffff">
<title>{{ title or site.title }}</title>
<link rel="stylesheet" href="/css/page.css">
{% if not isFront %}
  <!-- include Normalize for regular text pages -->
  <link rel="stylesheet"  href="/css/normalize.min.css">
{% endif %}
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
