<div class="lg:h-96 px-8 md:px-0 xl:px-42 ">
  <h2 class="text-white tracking-wider text-xl text-center py-16 md:py-24 md:px-28 md:text-3xl lg:text-4xl xl:text-6xl"><span><img alt="" src="/img/quotes-left.svg" class="quote"/></span> If you want to go fast, go alone. If you want to go far, go together. <span><img alt="" src="/img/quotes-left.svg" class="quote-reverse" /></span></h2>
</div>