{% for item in collections.sections %}
  {% if item.data.type === 'about' %}
    <div id="about" class=" min-h-screen flex flex-col md:flex-row bg-white xl:px-48 md:px-12 text-center md:text-left px-10 py-36">
        <div class="xl:p-12 md:pl:12 md:pr:4">
          <h2 class="text-purple-650 font-bold">{{item.data.subtitle}}</h2>
          <p class="font-bold tracking-wider text-gray-850 md:text-2xl  mb-4">{{ item.data.title }}</p>
        </div>
        <div class="font-light text-black md:text-xl text-lg xl:pl-28 xl:px-28 md:pl-10 md:pr-6 xl:py-12">
          <p class="py-2">{{item.data.paragraph1 | safe}}</p>
          <p class="py-2">{{item.data.paragraph2 | safe}}</p>
          <p class="py-2">{{item.data.paragraph3 | safe}}</p>
          {# {{ item.templateContent | safe }} #}
        </div>
     
      {# <div class="flex flex-row w-full justify-center">
        <a class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="#features">See How it Works</a>
      </div> #}
    </div>
  {% endif %}
{% endfor %}