<div class="h-72 lg:h-96 px-8 xl:px-48 ">
  <h2 class="text-center text-white font-light tracking-widest py-16 md:py-24 text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl"><span><img alt="" src="/img/quotes-left.svg" class="quote"/></span> If you want to go fast, go alone. If you want to go far, go together. <span><img alt="" src="/img/quotes-left.svg" class="quote-reverse" /></span></h2>
</div>