<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

{% for item in collections.sections %}
  {% if item.data.type === 'register' %}
    <div id="contact-us" class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-750 mt-12 mb-10">
         <h2 class="tracking-widest text-purple-650 text-center lg:text-left pb-4">{{item.data.subtitle}}</h2>
        <p class="font-medium tracking-wider text-center xl:text-left text-gray-850 text-2xl xl:text-4xl mb-4">{{ item.data.title }}</p>
        <div class="font-light text-gray-400 text-xl">
          {{ item.templateContent | safe }}
        </div>
        <div class="w-full">
    <div class="max-w-5xl mx-auto px-6 mb-12 sm:px-6 lg:px-8">
        <div class="bg-white w-full text-center md:text-left md:border md:border-gray-light md:shadow-md rounded p-4 md:p-8 sm:p-12 lg:my-12">   
          <form action="" method="POST" name="contact-form" netlify-honeypot="bot-field" data-netlify="true">
            <p class="hidden">
              <label>Fill this out if you're a bot: <input name="bot-field" /></label>
            </p>
            <div class="md:flex items-center mt-8">
              <div class=" w-full flex flex-col md:w-1/2">
                <label for="fullname" autocomplete="name" class="font-light text-lg text-black leading-none text-left">Full Name *</label>
                <input id="fullname" name="fullname" type="text" required aria-label="Full name (Required)" class="text-input p-3 mt-4 border rounded border-black invalid:border-red-600 invalid:text-red-600"/>
              </div>
            </div>
            <div class="items-center mt-12 md:flex">
              <div class="w-full flex flex-col md:w-1/2 ">
                <label for="phone" class="font-light text-lg text-black leading-none text-left">Phone</label>
                <input id="phone" name="phone" autocomplete="tel" type="tel" aria-label="Phone number" class="text-input p-3 mt-4 bg-gray-100 border rounded border-black" />
              </div>
              <div class="w-full flex flex-col md:w-1/2 md:ml-6 md:mt-0 mt-4">
                <label for="email" class="font-light text-lg text-black leading-none text-left">Contact Email *</label>
                <input id="email" name="email" type="email" autocomplete="email" required aria-label="Email (Required)" class="text-input p-3 mt-4 bg-gray-100 border rounded border-black"/>
              </div>
            </div>
                <div>
                  <div class="w-full flex flex-col mt-8">
                      <label for="message" class="font-light text-lg text-black leading-none text-left">How can we help you? *</label>
                      <textarea id="message" name="message" type="text" required aria-label="Message (Required)" class="h-40 text-lg text-input p-3 mt-4 bg-gray-100 border rounded border-black"></textarea>
                  </div>
                </div>
                 <button class="submit mt-9 font-semibold leading-none text-white py-4 px-16 bg-purple-650 rounded hover:bg-purple-350 focus:ring-2 focus:ring-offset-2 focus:ring-purple-650 focus:outline-none">
                      Submit
                  </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}