<div class="grid grid-rows-4 grid-flow-col gap-4 text-center h-52 px-4 md:h-72 lg:h-96 xl:h-full">
  <h1 class="row-start-2 text-white tracking-widest sm:px-40 sm:text-xl md:text-3xl lg:text-4xl xl:text-6xl">Digital Transformation begins with people. All people.</h1>
</div>