<div class="flex flex-col justify-center h-full h-header">
 {# <div class="w-full">
      <img src="/img/header-bg.svg" alt="">
    </div> #}
  <div class="self-center items-center flex ">
    <div class="w-full text-center ">
      {# <h1 class="tracking-wide text-purple-600 text-2xl mb-6">Greyshore associates believe...</h1> #}
      <h1 class="text-white font-medium tracking-widest xl:text-7xl md:text-6xl sm:text-2xl">Digital Transformation begins with people. All people.</h1>
       {# <div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="#about">More Information</a>
</div> #}
    </div>
    {# <div class="w-full sm:w-1/2">
      <img src="/img/header.svg" alt="AWE.SOME header">
    </div>
  </div> #}
</div>
