<article class="flex flex-row">
  <div class="flex flex-col text-center p-8 lg:text-left lg:pt-16 lg:px-40">
    <h3 class="font-bold">Accessibility Statement</h3>
    <p>Greyshore believes in providing products and services that are accessible to the widest audience possible.This site was created using inclusive design principles, along with A11y considerations, to strive to meet WCAG 2.1 Level AA guidelines. Our credo is continuous improvement together, so if we missed something, let us know!</p>
    </ul>
  </div>
</article>
