<div class="flex flex-col justify-center h-full xl:h-header md:h-tablet h-mobile">
  <div class="self-center items-center flex ">
    <div class="w-full text-center ">
      <h1 class="text-white font-sans font-light md:px-24 tracking-widest xl:text-7xl md:text-5xl text-2xl px-8">Digital Transformation begins with people. All people.</h1>  
    </div>
  </div>
</div>
