<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  {% include "head.njk" %}
</head>
<body class="font-sans text-gray-800">
  <header class="header w-full flex flex-col justify-between bg-hero-pattern">
    {% include "header.njk" %}
  </header>
  {# Makes up the main body of our content. This contains all files in _includes folder that start with section.*  #}
  {{ content | safe }}
  
  <div class="py-16 md:px-8">
  {% include "footer.njk" %}
  </div>
  {% include "js.njk" %}
</body>
</html>