---
layout: base.njk
isFront: true
---
<main>
  {% include "section.about.njk" %}
  
  <div class="bg-edde-pattern">
    {% include "section.edde.njk" %}
  </div>
  
  {% include "section.register.njk" %}
  
  <div class="bg-quote-pattern">
    {% include "section.quote.njk" %}
  </div>
</main>