---
layout: base.njk
isFront: true
---
<header class="header w-full flex flex-col justify-between bg-hero-pattern">
  {% include "navbar.njk" %}
  {% include "section.header.njk" %}
</header>
<main>
  {% include "section.about.njk" %}
  <div class="bg-edde-pattern">
    {% include "section.edde.njk" %}
  </div>
  {% include "section.register.njk" %}
</main>