---
layout: base.njk
isFront: true
---
<main>
  {% include "section.about.njk" %}
  {% include "section.services.njk" %}
  {% include "section.edde.njk" %}
   {% include "section.work.njk" %}
  {% include "section.register.njk" %}
  <div class="bg-quote-pattern">
    {% include "section.quote.njk" %}
  </div>  
</main>